<div class="asset_search">

	<%= form_tag assets_path, :method => :get  do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
		
	</p>
	<% end %>

</div>